body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e9f5f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#calculator {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 370px;
}


#display {
  width: 100%;
  height: 60px;
  font-size: 1.8rem;
  border: none;
  border-radius: 10px;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f0f7f6;
  color: #333333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #d4ebea;
  color: #333;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #b5dedc;
}

button.clear {
  background-color: #f5a6a6;
}

button.clear:hover {
  background-color: #e88383;
}

button.delete {
  background-color: #f4d9a6;
}

button.delete:hover {
  background-color: #e8c083;
}

button.equals {
  background-color: #6fcf97;
  color: white;
  /* grid-column: span 1; */
}

button.equals:hover {
  background-color: #57c381;
}

@media (max-width: 480px) {
  #calculator {
    width: 90%;
  }

  #display {
    height: 50px;
    font-size: 1.5rem;
  }

  button {
    height: 50px;
    font-size: 1rem;
  }
}